doctype transitional
html
  head
    meta(content= "width=device-width, initial-scale=1", name= "viewport")
    link(href= "./css/style.css", media= "all", rel= "stylesheet", type= "text/css")
    meta(charset= "UTF-8")
  body