include partials/header.pug
= "Test pug!"
- totLines = 20;
ul
  - for(var i = 0; i < players.length; i++)
    li
      = players[i]
  each name in players
    li
      = name
  each name, index in players
    li
      = index + " - " + name
script(src= "js/main.js")