!!!
%html.no-js
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "./css/style.css", media: "all", rel: "stylesheet", type: "text/css"}
    %meta{charset: "UTF-8"}
  %body
    Test haml!
    - totLines = 20;
    %ul
    - for(var i = 0; i < players.length; i++)
      %li
        = players[i]
    - each name in players
      %li
        = name
    - each name, index in players
      %li
        = index + " - " + name
    %script{src: "js/main.js"}